<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Styles/Normalize.css">
    <link rel="stylesheet" href="./Styles/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
    <link rel="stylesheet" href="./Styles/default.css">
    <link rel="stylesheet" href="./styles/default.css">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header class="container-navbar">
        <div class="navbar">
            <div class="container-icon">
                <a href="./index.html"><img src="./Imagenes/image-1.png" alt="icon-prop" ></a>
                <img src="./Imagenes/orgulloprop2.png" alt="">
            </div>
            <ul class="navbar-list">
                <li>
                  <button>
                    Colaboracion
                  </button>
                </li>
                <li>
                  <button>
                    Dejanos tu comentario
                  </button>
                </li>
                <li>
                  <button>
                    Nosotros
                  </button>
                </li>
            </ul>
        </div>

        <div class="navbar-login">
            <ul class="navbar-list">
                <li><a href="/publish" class="btn-publish">Publicar</a></li>
                <li id="openModalBtn">Acceder</li>
            </ul>
        </div>
    </header>
    <section class="container-login">
        <div class="card-container" id="login-card">
            <div class="overlay">
                <div class="card">
                    <div class="container-icon-login">
                        <img src="./Imagenes/image-1.png" alt="icon-prop" class="img-1" hidden>
                        <img src="./Imagenes/orgulloprop2.png" alt="" class="img-2" hidden>
                    </div>
                    <h2>¡Hola!</h2>
                    <p>Ingresá a tu cuenta y accede a los avisos que contactaste, tus favoritos, las  búsquedas guardadas ¡y más!</p>
                    <form class="form-group " method="POST" action="/auth">
                    <input type="email" name="email" placeholder="Ingrese su mail" >
                    <input type="password" name="contraseña" placeholder="Ingrese su contraseña" >
                    <input type="submit" class="login-btn" value="Enviar">
                    </form>
                    <p id="forgot-password">¿Olvidaste tu <span>contraseña?</span></p>
                    <li style="color: black; list-style: none;"><a href="/register" style="color:black; font-style: none;">registrate</a></li>
                    <span class="container-separador"><span class="separador"></span>O ingresa con<span class="separador"></span></span>
                        <div class="google">
                            <img src="./Imagenes/google.png" alt="google">
                        </div>
                    <span class="close-btn">&times;</span>

                </div> 
                <div class="card-forget">
                    <h2>¿Te olvidaste la contraseña?</h2>
                    <p> Ingreas tu email y te enviamos los pasos para recuperarla</p>
                        <form class="form-group">
                        <label for="mail">email</label>
                        <input type="mail" id="mail" placeholder="Ingrese su correo" required>
                        <button type="submit" class="login-btn">Continuar</button>
                        </form>
                        <span class="close-btn-2"><i class="fa-solid fa-arrow-left"></i></span>
                </div>
            </div>
        </div>
    </section>
    <main>
        <div class="section-top-search">
            <h1>Tu espacio Seguro</h1>
            <div class="search">
                <form class="inputs-search">
                    <select name="" id="Departamento">
                        <option value="">Propiedad</option>
                    </select>
                    <select name="" id="Ambientes">
                        <option value="">Ambientes</option>
                    </select>

                    <input type="search" name="" id="search" placeholder="Ingresa ubicacion, barrio o localidad">
                    <input type="submit" value="Enviar" id="submit">
                </form>
            </div>
        </div>
    </main>
      <h1>Nuestros servicios destacados</h1>

      <div class="services">
        <div class="service-card">
          <img
            class="service-card-image"
            src="./Imagenes/onboarding-product-thumb-app-mobile-design-web-development.256x251.png"
            alt="Encuentra con claridad"
          />
          <!-- imagenes/onboarding-product-thumb-app-mobile-design-web-development.256x251.png -->
          <div class="text-service">
            <h3>ENCUENTRA CON CLARIDAD</h3>
            <br>
            <p>
              Descubre nuestras propiedades, elige las habitaciones que más te
              gusten, compartidas o privadas y seguir el proceso de alquiler
            </p>
          </div>
        </div>

        <div class="service-card">
          <div class="text-service">
            <h3>ANUNCIANTES</h3>
            <br>
            <p>
              Dueños directos como tú, puedes contribuir con la sociedad,
              ofreciendo alquileres a precios razonables y justos.
            </p>
          </div>
          <img
            class="service-card-image"
            src="./Imagenes/get-started-woman.166x256.png"
            alt="Anunciantes"
          />
          <!-- imagenes/get-started-woman.166x256.png -->
        </div>

        <div class="service-card">
          <img
            class="service-card-image"
            src="./Imagenes/customer-interview-interviews-people.256x227.png"
            alt="Somos orgulloprop"
          />
          <!-- imagenes/customer-interview-interviews-people.256x227.png -->
          <div class="text-service">
            <h3>SOMOS ORGULLOPROP</h3>
            <br>
            <p>
              Tu sitio web amigable con la comunidad LGBTQ+ que brinda un
              ambiente seguro e inclusivo para todos
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="container">
          <h1>Colaboración</h1>

          <div class="colaboracion-grid">
            <div class="colaboracion-item">
              <img src="./Imagenes/marketing.210x256.png" alt="Publicidad" />
              <h3>PUBLICIDAD</h3>
              <br>
              <p>
                Orgulloprop se financia a través de acuerdos publicitarios con
                empresas afines a nuestra misión de inclusión LGBTQ+, lo que nos
                permite seguir ofreciendo un servicio gratuito a nuestra
                comunidad.
              </p>
            </div>
            <div class="colaboracion-item">
              <img src="./Imagenes/handshake.254x256.png" alt="ONG" />
              <h3>ONG</h3>
              <br>
              <p>
                Apoya causas importantes donando tus propiedades a una nuestra
                ONG. Dónde podés contribuir al bienestar de la comunidad. Un
                espacio seguro donde cada donación cuenta.
              </p>
            </div>
            <div class="colaboracion-item">
              <img src="./Imagenes/achievement.177x256.png" alt="Membresias" />
              <h3>MEMBRESIAS</h3>
              <br>
              <p>
                Al elegir una membresía en Orgulloprop, estás apoyando
                directamente a nuestra comunidad LGBTQ+ y te el beneficio de que
                tus propiedades que quieras alquilar, aparezcan primero.
              </p>
            </div>
          </div>

          <div class="contactanos-container">
            <a href="#" class="contactanos-btn">Contáctanos</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <h1>Sobre nosotros</h1>
      <p>
        Somos un equipo de cinco programadores de la Fundación Pescar, dedicados
        a desarrollar una página web que facilite el acceso a hogares seguros
        para personas en situación de vulnerabilidad. Con mucha pasión por la
        tecnología y una profunda empatía, trabajamos para crear soluciones
        digitales que promuevan la inclusión y la estabilidad.
      </p>
      <div class="team-members">
        <div class="team-member">
          <img src="./Imagenes/flor.jpeg" alt="Integrante del equipo" />
        </div>
        <div class="team-member">
          <img src="./Imagenes/lucas.jpeg" alt="Integrante del equipo" />
        </div>
        <div class="team-member">
          <img src="./Imagenes/jose.jpeg" alt="Integrante del equipo" />
        </div>
        <div class="team-member">
          <img src="./Imagenes/tobi.jpeg" alt="Integrante del equipo" />
        </div>
        <div class="team-member">
          <img src="./Imagenes/vicky.jpeg" alt="Integrante del equipo" />
        </div>
      </div>
    </div>
  <section>
      <!-- Sección de testimonios -->
      <section>
        <main>
          <!-- Sección de testimonios -->
          <section class="testimonials">
            <div class="introductory-paragraph">
              <h2>Testimonios de <span>nuestra</span> comunidad</h2>
              <p>
                Descubrí por qué a nuestros clientes les encanta alquilar
                departamentos con Orgulloprop! Estamos contentos de ofrecer un
                espacio seguro para la comunidad
              </p>
            </div>
            <div class="testimonial-container">
              <div class="testimonial">
                <blockquote>
                  Orgulloprop hizo que encontrar un alquiler fuera muy fácil!
                  Servicio amable y profesional
                </blockquote>
                <cite>Sofía Ramírez<br />Buenos Aires, Temperley</cite>
              </div>
              <div class="testimonial">
                <blockquote>
                  El compromiso de Orgulloprop con la comunidad LGBTIQ+ es
                  admirable. Gran experiencia en general.
                </blockquote>
                <cite>Santiago Morales<br />Buenos Aires, Merlo</cite>
              </div>
              <div class="testimonial">
                <blockquote>
                  Como propietario, agradezco el apoyo de Orgulloprop. ¡Muy
                  recomendable!
                </blockquote>
                <cite>Lucía Medina<br />Buenos Aires, Avellaneda</cite>
              </div>
            </div>
          </section>
  
          
        <footer>
          <div class="contact-info">
            <p>Contáctenos<br />Escríbenos a Tupropiedad@orgulloprop.com.ar</p>
          </div>
          <!-- redes sociales -->
          <div class="social-media">
            <p>Seguinos</p>
            <a href="https://www.instagram.com/" target="_blank"
              ><img src="./Imagenes/social/instagram.jpg" alt="Instagram"
            /></a>
            <a href="https://www.facebook.com/" target="_blank"
              ><img src="./Imagenes/social/facebook.jpg" alt="Facebook"
            /></a>
            <a href="https://www.twitter.com/" target="_blank"
              ><img src="./Imagenes/social/twitter.avif" alt="Twitter"
            /></a>
          </div>
          <div class="footer-All-rights-reserved">
            <p>
              Todos los derechos reservados. <br />
              © 2024 Orgulloprop
            </p>
          </div>
          <div>
            <p>Telefonos utiles</p>
            <p>
              <span>103</span> - Emergencias <span>144</span> - Violencia de
              genero
            </p>
            <p><span>108</span> - Linea social <span>911</span> - Policia</p>
          </div>
        </footer>
      </section>
    <script src="./js/scripts.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title:'<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer:<%= time%>
            }).then(()=>{
                window.location = '<%= ruta %>'
            })
    
        </script>
        <% } %>
    }
</body>
</html>

